* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}
body {
    color: black;
    font-family: Ubuntu;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/*brand logo image */

.navbar-brand>img {
    margin: 0;
    position: absolute;
    width: inherit;
    height: inherit;
}

/*centering the navbar logo*/

.navbar-brand {
    width: 140px;
    height: 40px;
    position: absolute;
    padding: 0;
    left: calc(50% - 70px);
    display: block;
    width: 140px;
    height: 40px;
    position: absolute;
    padding: 0;
    left: calc(50% - 70px);
    display: block;
}

/*main body of navigation bar*/

.navbar {
    background: rgb(12, 13, 13);
    padding-top: 5px;
    border: 0;
    height: 60px;
}

/*Style of collapsed navbar for movile view*/

.navbar-collapse {
    background-color: rgb(12, 13, 13);
}

/*navigation links in the nav bar*/

.navbar-default ul.navbar-nav>li>a {
    color: white;
}

/*Starting of the footer of the page*/

footer {
    width: 100%;
    background: black;
    box-sizing: border-box;
    position: fixed;
    padding: 20px 0;
}
footer .follow h4 {
    font-weight: bold;
    color: #ddd;
    text-shadow: 0px 1px 1px #ccc;
}
footer .follow {
    margin-top: 10px
}
footer .follow a {
    color: white;
}
footer .follow a i {
    margin-right: 30px;
    margin-left: 0px
}
footer .reference {
    margin-top: 49px
}
footer .reference .btn-lg {
    background: #A41E22;
    outline: none;
    border: 0;
    color: white;
    border-radius: 0
}
footer .reference .btn-lg:hover {
    opacity: 0.7;
}
footer .reference .modal-header {
    background: #111;
    color: white;
    box-shadow: 0 6px 10px 0 #222
}
footer .reference .modal-header .close {
    color: white;
    opacity: 1;
}
footer .reference .modal-header .close:hover {
    opacity: 0.6;
}
footer .reference .modal-footer {
    background: #111;
    color: white;
    box-shadow: 0 -5px 8px 0 #222
}
footer .reference .modal-footer button {
    background: #A41E22;
    color: white;
    border: 0;
}
footer .reference .modal-body {
    padding: 30px 20px
}
footer .reference .modal-body p{
    font-weight: bold;
}
footer .reference .modal-body p a {
    color: #A41E22;
    font-weight: normal;
}
footer .reference .modal-body p a:hover{
    font-weight: bold;
}
footer .reference .modal-footer button:hover {
    opacity: 0.8;
}
footer .copyright {
    margin-top: 60px;
    text-align: right;
}
footer .copyright h5 {
    color: #ddd;
    text-shadow: 0px 1px 2px #ccc;
}