* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}
body {
  color: black;
  font-family: Ubuntu;
}

/*brand logo image */
.navbar-brand>img {
  margin: 0;
  position: absolute;
  width: inherit;
  height: inherit;
}
/*centering the navbar logo*/
.navbar-brand {
  width: 140px;
  height: 40px;
  position: absolute;
  padding: 0;
  left: calc(50% - 70px);
  display: block;
}

/*main body of navigation bar*/
.navbar {
  background: rgb(12, 13, 13);
  padding-top: 5px;
  border: 0;
  height: 60px;
}

/*Style of collapsed navbar for movile view*/
.navbar-collapse{
  background-color: black;
}

/*navigation links in the nav bar*/
.navbar-default ul.navbar-nav>li>a {
  color: white;
}

/*start of the latest development page*/
.latest {
  margin-top: 120px; 
  text-align: justify;
}
.latest h2 { 
  color: maroon;
  padding-bottom: 30px;
  margin-bottom: 0
}
.latest h2 hr{
  border:1px solid maroon;

}
.latest .panel {
  border-radius: 0;
  background: #ccc;
}
.latest .panel .panel-heading{
  background: #333;
  color: #eee
}