* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}
body {
  color: black;
  font-family: Ubuntu;
}

/*brand logo image */
.navbar-brand>img {
  margin: 0;
  position: absolute;
  width: inherit;
  height: inherit;
}
/*centering the navbar logo*/
.navbar-brand {
  width: 140px;
  height: 40px;
  position: absolute;
  padding: 0;
  left: calc(50% - 70px);
  display: block;
}

/*main body of navigation bar*/
.navbar {
  background: rgb(12, 13, 13);
  padding-top: 5px;
  border: 0;
  height: 60px;
}

/*Style of collapsed navbar for movile view*/
.navbar-collapse{
  background-color: black;
}

/*navigation links in the nav bar*/
.navbar-default ul.navbar-nav>li>a {
  color: white;
}


/*start of the latest development page*/
.latest {
  margin-top: 150px; 
  text-align: justify;
}
.latest h2 { 
  color: maroon;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-weight: bold;
  text-shadow: 0px 2px 1px #000; 
}
.latest h2 hr{
  border: 1px solid maroon;
  box-shadow: 0px 1px 1px #000; 
}
.latest .panel {
  border-radius: 4px;
  background: #ccc;
  border: 0
}
.latest .panel .panel-heading{
  background: #333;
  color: #ddd;
  box-shadow: 0px 4px 3px 0 black;

}
.latest .panel .panel-heading a{
  text-decoration: none;
}
.latest .panel .panel-heading a:hover{ 
  text-decoration: none;
  color: #fff
}

/*Starting of the footer of the page*/
footer{
  margin-top: 80px;
  height: 100px;
  width: 100%;
  background: black;
  padding: 0
}
footer h5{
  color: #ddd;
  text-align: center;
  margin-top: 65px;
  text-shadow: 0px 1px 2px #ccc 
}