/*overriding brand logo holder for index page*/
.navbar-brand {
  opacity: 0;
  transform: scale(2,2);
  transition: all 0.4s;
}
/*Makes brand logo visible in nav bar.
  after scrolling to certain point*/
.navbar-brand-afterscroll {
    opacity: 1;
    transform: scale(1,1);
}
/*overrriding nav bar for index page*/
.navbar {
  background-color: transparent;
  transition: background-color 0.4s;
}
/*Style of navbar to be called
  after scrolling to certain point*/
.navbar-afterscroll {
  background: rgb(12, 13, 13);
}

/*initial landing part*/
.first-row {
  height: 100%;
  /*border: 5px solid pink;*/
}

/*background image for the landing part*/
.first {
  position: absolute;
  background-image: url("../images/red_black_abstract.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -2;
}
/*container for big logo and bouncing button*/
.landing-grid{
  /*border: 1px solid blue;*/
  z-index: 2;
  height: 100vh;
}

/*black overlay on top of first landing image*/
.black-overlay {
  z-index: 10;
  position: absolute;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.40);
  z-index: -1;
}
/*div for the column that contains big logo and bouncing button*/
.landing-grid .first-row>div {
  height: 100%;
  position: relative;
  border: 1px solid transparent;
}
/*big logo*/
.landing-grid .row>div>img {
  display: block;
  margin: 25vh auto 0 auto;
  max-width: 100%;
  height: auto;
}
/*heading under the big logo*/
.landing-grid .row>div>h3 {
  display: block;
  color: rgb(166, 173, 169);
  text-align: center;
  font-size: 40px;
}
/*anchor tag wrapping the bouncing arrow*/
.bottom-btn {
  /*border: 1px solid white;*/
  transform: scale(1.5,1.5);
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  height: 60px;
  width: 40px;
}
/* bouncing arrow*/
.arrow {
  position: absolute;
  bottom: 10px;
}

/* main content*/
.content-wrapper {
  background: url("../images/dark_bg.jpg") fixed no-repeat;
  background-size: 100% 100%;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/*what is Vulkan? part*/

/*overriding bootstrap row for 'what is vulkan' section*/
.row-1 {
  /*background-color: rgba(242, 38, 19);*/
  background: transparent;
  min-height: 400px;
  padding-bottom: 50px;
  -webkit-box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
  box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
}
/*heading for 'what is vulkan' section*/
.content-header {
  padding: 40px 10px 10px 10px;
  color: white;
  text-align: center;
  font-size: 50px;
}
/*paragraph containing information for main sections*/
.content-data {
  padding: 0 10px 10px 10px;
  text-align: center;
  color: rgb(223, 219, 219);
  font-size: 21px;
}
/*custom button to navigate to intro page*/
.custom-button {
  padding: 5px 0;
  position: relative;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  height: auto;
  width: 300px;
  border: 2px solid white;
  text-align: center;
  font-size: 24px;
  color: white;
  background: transparent;
  transition: background 0.2s;
  -webkit-box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
  box-shadow: -2px 4px 37px 2px rgba(0,0,0,0.75);
}
.custom-button:hover, .custom-button:focus {
  background-color: black;
  color: white;
  border-color: black;
}
.custom-button:active {
  opacity: 0.7;
}

/*features part*/
.row-2 {
  min-height: 400px;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
 
}

/*image for features*/
.row-2 .open_sourceImg{
  display: block;
  position: relative;;
  margin: 0 auto;
  width: 490px;
}
.row-2 .cross_platformImg{
  display: block;
  position: relative;;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

/*heading for features*/
.content-header-2 {
  padding: 20px 10px 15px 10px;
  color: white;
  text-align: center;
  font-size: 40px;
}

