hr {
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(left, #f0f0f0, #0077C0, #f0f0f0);
  background: -moz-linear-gradient(left, #f0f0f0, #0077C0, #f0f0f0);
  background: -ms-linear-gradient(left, #f0f0f0, #0077C0, #f0f0f0);
  background: -o-linear-gradient(left, #f0f0f0, #0077C0, #f0f0f0);
  width: 85%;
  margin: 0 auto;
}

.cover-head {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("../images/vulkan_game.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}
.cover-head h1 {
  font-family: 'Arvo', 'Lato','Josefin Slab', serif;
  font-weight: 700;
  font-size: 45px;
  word-spacing: 1px;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0 0px 2px black;
}
.intro-head {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
  color: #E74C3C;
}
.intro-content {
  color: black;
  text-align: justify;
  font-size: 20px;
}
.img-container {
  margin: 0 auto;
  margin-bottom: 15px;
}
.img-container img {
  margin: 0 auto;
}
.row {
  padding-bottom: 30px;
}
